# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/
/sts-server/sts-server-auth/sts-server-auth-application/target/
/sts-server/sts-server-auth/sts-server-auth-application/sts-auth-application.iml
/sts-server/sts-server-auth/sts-server-auth-domain/target/
/sts-server/sts-server-auth/sts-server-auth-domain/sts-auth-domain.iml
/sts-server/sts-server-auth/sts-server-auth-infrastructure/target/
/sts-server/sts-server-auth/sts-server-auth-infrastructure/sts-auth-infrastructure.iml
/sts-server/sts-server-auth/sts-server-auth-interfaces/target/
/sts-server/sts-server-auth/sts-server-auth-interfaces/sts-auth-interfaces.iml
/sts-server/sts-server-auth/sts-server-auth-starter/target/
/sts-server/sts-server-auth/sts-server-auth-starter/sts-auth-starter.iml
/sts-common/sts-common-basic/target/
/sts-common/sts-common-basic/sts-common-basic.iml
/sts-common/sts-common-domain/target/
/sts-common/sts-common-domain/sts-common-domain.iml
/sts-common/sts-common-tools/target/
/sts-common/sts-common-tools/sts-common-tools.iml
/sts-common/sts-common-web/target/
/sts-common/sts-common-web/sts-common-web.iml
/sts-common/sts-common.iml
/sts-parent/sts-parent.iml
/sts-auth/sts-auth.iml
/sts-common/sts-common-db/sts-common-db.iml
/sts-common/sts-common-db/target/
/sts-common/sts-common-resources/sts-common-resources.iml
/sts-common/sts-common-resources/target/
/sts-common/sts-common-i18n/sts-common-i18n.iml
/sts-common/sts-common-i18n/target/
/logs/
/sts-common/sts-common-messages/target/
/sts-common/sts-common-messages/sts-common-messages.iml
/sts-common/sts-common-infrastructure/sts-common-infrastructure.iml
/sts-common/sts-common-infrastructure/target/
/sts-server/sts-external-adapter/sts-external-adapter.iml
/sts-common/sts-common-crypto/target/

/MaxKey-main/

/sts-components/sts-components-flow/sts-components-flow-api/target/
/sts-components/sts-components-flow/sts-components-flow-client/target/
/sts-components/sts-components-flow/sts-components-flow-core/target/
/sts-components/sts-components-flow/sts-components-flow-infrastructure/target/
/sts-components/sts-components-flow/sts-components-flow-service/target/
/sts-components/sts-components-flow/sts-components-flow-starter/target/
/sts-components/sts-components-flow/sts-components-flow-web/target/
/sts-app/sts-app-archive/target/
/sts-app/sts-app-collaborate/target/
/sts-server/sts-server-external-adapter/target/
/sts-gateway/target/
/sts-components/sts-components-file/sts-components-file-core/target/
/sts-components/sts-components-file/sts-components-file-plugins/sts-components-file-plugin-local/target/
/sts-components/sts-components-file/sts-components-file-plugins/sts-components-file-plugin-minio/target/
/sts-components/sts-components-file/sts-components-file-plugins/sts-components-file-plugin-oss/target/
/sts-components/sts-components-file/sts-components-file-plugins/sts-components-file-plugin-rustfs/target/
/sts-components/sts-components-file/sts-components-file-runtime/target/
/sts-components/sts-components-file/sts-components-file-starter/target/
/sts-components/sts-components-file/sts-components-file-service/target/
/sts-components/sts-components-file/sts-components-file-interfaces/target/
/sts-components/sts-components-file/sts-components-file-web/target/
